.DataEntry {
  font-size: larger;
  margin: auto;
  width: 700px;
}
.inputfield {
  height: 55px;
}
.addtask {
  position: absolute;
  margin-left: 700px;
  height: 55px;
  top:100px;
}
.card-header {
  margin:0.5rem 13rem;

}

.container {
  border-radius: 3px;

  width: 500px;
  height: auto;
  margin: auto;
}

.delete_button {
  margin-bottom: 0;
  margin-left: 80%;
}

.done {
  

}
